<!--主页介绍-->
{% extends "base.html" %} {% block mainbody %}

<div class="container">
    <div class="col-md-12">
                    <h3 class="page-header"><i class="fa fa-home"></i> 首页 </h3>
        <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="\">Home</a></li>
            </ol>
    </div>
<div class="col-md-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="page-header"><h3>简介</h3>
            <h4>南海维权证据知识元抽取、组织与南海维权证据链构建的实验平台。</h4>
            <h4>数据来源是南海主权争端主题内的学术全文本，数据处理过程包括证据识别、证据要素识别和证据分类三个部分。</h4>
            <h4>数据存储使用图数据库和关系数据库两种方式。</h4>
            <h4>1、“时序列查询”栏目下是对证据内容的关键词查询，返回结果是时序列的证据列表，证据编号可索引至当前证据的图谱展示，可按年份对检索结果进行筛选，筛选结果按月份排序;</h4>
            <h4>2、“实体查询”栏目下是按南海领域内的各类型实体集中证据，返回证据列表，当实体类型是主体例“中国”时，可对主权关系进行筛选；</h4>
            <h4>3、“图谱路径查询”，两实体间最短路径，查询两个实体如何最短关联，例如“是否有证据同时提到中国和美国”；</h4>
            <h4>4、“南海实体概览”栏目下是各实体类型下的所有实体实例，总类及各子类下按字顺排序；</h4>
            <h4>5、“更新日志”是一些记载。</h4>
</div>
</div></div></div>
{% endblock %}