<!--最短路径-->
{% extends "base.html" %} {% block mainbody %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8" />
    <script src="/static/js/echarts.js"></script>
{#    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>#}
</head>
<title>关系</title>
<div class="container">
    <div class="row">
    <!--head start-->
    <div class="col-md-12">
        <h3 class="page-header"><i class="icon_link_alt" aria-hidden="true"></i> 证明力大小查询 </h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="\">Home</a></li>
                <li><i class="icon_link_alt" aria-hidden="true"></i>证明力大小查询</li>
            </ol>
    </div>

    <div class = "col-md-12">
    	<div class = "panel panel-default">
			<header class="panel-heading">
            查询条件：查找一个地点的证据大小关联（如西沙群岛等）
       		</header>
       		<div class = "panel-body">

			    <form  id ="searchRelationForm" class="form-inline" style="padding-left: 10% ; padding-right: 10%" method="get">
			    	<div id = "entity1" class="form-group" style="padding: 2%">
			        	<input type="text" id = "entity1_text" name = "entity1_text" class ="form-control" placeholder="证据" aria-describedby="basic-addon1">
			 		</div>

			        <!--dropdown combobox end-->
<!--			        <div id = "relation_name" class = "form-group hide" style="padding: 2%">-->
<!--			        	 <input type="text" id = "relation_name_input" name = "relation_name_text" class ="form-control" placeholder="输入关系名称" aria-describedby="basic-addon1">-->
<!--			        </div>-->
<!--			        <div id = "entity2" class = "form-group" style="padding: 2%">-->
<!--			        	 <input type="text" id = "entity2_text" name = "entity2_text" class ="form-control" placeholder="结点2" aria-describedby="basic-addon1">-->
<!--			        </div>-->
			        <div class="btn-group" style="padding: 2%">
			            <button type="button" id="btnSearch" class="btn btn-primary" onclick = "document.getElementById('searchRelationForm').submit();">查询</button>
			        </div>
				</form>
			</div>
		</div>
	</div>
	{% if ctx %}
	<div class = "col-md-12">
		<div class = "panel panel-default">
			<header class = "panel-heading">
				查询结果：
			</header>
			<div class = "panel-body">
				<div style="padding: 2%">
					<h2>暂未找到相应的匹配</h2>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

    {% if searchResult %}

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div class = "col-md-12">
        <div class="panel panel-default ">
	        <header class="panel-heading">
	            关系图 :
	        </header>
            <div class = "panel-body ">
                <div id="graph" style="width: 100%;height:600px;"></div>
            </div>
        </div>
    </div>
    <!-- Footable -->
    <div class = "col-md-12">
	    <div class="panel panel-default">
	    	<header class="panel-heading">
	       	 关系列表 :
	   		</header>
	        <div class = "panel-body">
	            <table class = "table" data-paging =  "true" data-sorting="true"></table>
	        </div>
	    </div>
	</div>
    {% endif %}

</div>
<script src="/static/js/jquery-1.8.3.min.js"></script>
{% if searchResult %}
<script type="text/javascript">
	var searchResult = {{searchResult|safe}}
	//用表格列出所有的关系
    tableData = []
    for (var i = 0 ; i < searchResult.length ; i++){
        relationData = {} ;
		relationData['entity0'] = searchResult[i]['p']['name']
		relationData['loc'] = searchResult[i]['loc']['type']

        relationData['entity1'] = searchResult[i]['n1']['name'];
        relationData['content'] = searchResult[i]['n1']['content'];

		relationData['entity2'] = searchResult[i]['n2']['name'];
		relationData['xd'] = searchResult[i]['n2']['content'];
        relationData['score1'] = searchResult[i]['n2']['score'] ;
		relationData['qz1'] = searchResult[i]['qz1'][0]['type'] ;

		relationData['entity3'] = searchResult[i]['n3']['name'] ;
        relationData['score2'] = searchResult[i]['n3']['score'] ;
		relationData['qz2'] = searchResult[i]['qz2'][0]['type'] ;

		relationData['entity4'] = searchResult[i]['n4']['name'] ;
        relationData['score3'] = searchResult[i]['n4']['score'] ;
		relationData['qz3'] = searchResult[i]['qz3'][0]['type'] ;

		relationData['entity5'] = searchResult[i]['n5']['name'] ;
        relationData['score4'] = searchResult[i]['n5']['score'] ;
		relationData['qz4'] = searchResult[i]['qz4'][0]['type'] ;

		relationData['entity6'] = searchResult[i]['n6']['name'] ;
        relationData['score5'] = searchResult[i]['n6']['score'] ;
		// relationData['qz5'] = searchResult[i]['qz5'][0]['type'] ;

		relationData['score'] = (relationData['qz1']*relationData['score1'] + relationData['qz2']*relationData['score2']
								+ relationData['qz3']*relationData['score3']+ relationData['qz4']*relationData['score4'])
								*relationData['score5'];
        tableData.push(relationData) ;
    }
    jQuery(function(){
        $('.table').footable({
        "columns": [{"name":"entity0",title:"地点"} ,

				{"name":"entity1",title:"证据编号"} ,
        		{"name":"content",title:"Content"} ,

				{"name":"entity2",title:"证据子效度"},
				{"name":"xd",title:"证据效度"},
				{"name":"score1",title:"Score1"},
				// {"name":"qz1",title:"权值1"},

				{"name":"entity3",title:"证据作用"},
				{"name":"score2",title:"Score2"},
				// {"name":"qz2",title:"权值2"},

				{"name":"entity4",title:"证据源出处"},
				{"name":"score3",title:"Score3"},
				// {"name":"qz3",title:"权值3"},

				{"name":"entity5",title:"证据源主体"},
				{"name":"score4",title:"Score4"},
				// {"name":"qz4",title:"权值4"},

				{"name":"entity6",title:"证据倾向"},
				{"name":"score5",title:"Score5"},
				// {"name":"qz5",title:"权值5"},

				{"name":"score",title:"Score"}],
        "rows": tableData
        });
    });

    //echarts 数据
    var data = [] ;
    var links = [] ;

    //构造展示的数据
    var maxDisPlayNode = 15 ;
    var id = 0 ;
    for( var i = 0 ;id < maxDisPlayNode&& i<searchResult.length ; i++ ){
        //获取node1
        node1 = {} ;
        node1['name'] = searchResult[i]['n1']['name'] ;
        node1['content'] =  searchResult[i]['n1']['content'] ;
        node1['draggable'] = true ;
        if('url' in searchResult[i]['n1']){
            node1['category'] = 1 ;
        }
        else{
            node1['category'] = 2 ;
        }
        var flag = 1 ;

        relationTarget = id.toString() ;
        for(var j = 0 ; j<data.length ;j++){
        	if(data[j]['name'] === node1['name']){
        		flag = 0 ;
        		relationTarget = data[j]['id'] ;
        		break ;
        	}
        }

        node1['id'] = relationTarget ;
        if(flag === 1){
        	id++ ;
        	data.push(node1) ;
        }

        //获取node2
        node2 = {} ;
        node2['name'] = searchResult[i]['n2']['name'] ;
        node2['draggable'] = true ;
        if('url' in searchResult[i]['n2']){
            node2['category'] = 1 ;
        }
        else{
            node2['category'] = 2 ;
        }
        flag = 1 ;
        relationTarget = id.toString() ;
        for(var j = 0 ; j<data.length ;j++){
        	if(data[j]['name'] === node2['name']){
        		flag = 0 ;
        		relationTarget = data[j]['id'] ;
        		break ;
        	}
        }
        node2['id'] = relationTarget ;
        if(flag === 1){
        	id++ ;
        	data.push(node2) ;
        }

		//获取node3
		node3 = {} ;
        node3['name'] = searchResult[i]['n3']['name'] ;
        node3['draggable'] = true ;
        if('url' in searchResult[i]['n3']){
            node3['category'] = 1 ;
        }
        else{
            node3['category'] = 2 ;
        }
        flag = 1 ;
        relationTarget = id.toString() ;
        for(var j = 0 ; j<data.length ;j++){
        	if(data[j]['name'] === node3['name']){
        		flag = 0 ;
        		relationTarget = data[j]['id'] ;
        		break ;
        	}
        }
        node3['id'] = relationTarget ;
        if(flag === 1){
        	id++ ;
        	data.push(node3) ;
        }

		//获取node4
		node4 = {} ;
        node4['name'] = searchResult[i]['n4']['name'] ;
        node4['draggable'] = true ;
        if('url' in searchResult[i]['n4']){
            node4['category'] = 1 ;
        }
        else{
            node4['category'] = 2 ;
        }
        flag = 1 ;
        relationTarget = id.toString() ;
        for(var j = 0 ; j<data.length ;j++){
        	if(data[j]['name'] === node4['name']){
        		flag = 0 ;
        		relationTarget = data[j]['id'] ;
        		break ;
        	}
        }
        node4['id'] = relationTarget ;
        if(flag === 1){
        	id++ ;
        	data.push(node4) ;
        }

		//获取node5
		node5 = {} ;
        node5['name'] = searchResult[i]['n5']['name'] ;
        node5['draggable'] = true ;
        if('url' in searchResult[i]['n5']){
            node5['category'] = 1 ;
        }
        else{
            node5['category'] = 2 ;
        }
        flag = 1 ;
        relationTarget = id.toString() ;
        for(var j = 0 ; j<data.length ;j++){
        	if(data[j]['name'] === node5['name']){
        		flag = 0 ;
        		relationTarget = data[j]['id'] ;
        		break ;
        	}
        }
        node5['id'] = relationTarget ;
        if(flag === 1){
        	id++ ;
        	data.push(node5) ;
        }

		//获取node6
		node6 = {} ;
        node6['name'] = searchResult[i]['n6']['name'] ;
        node6['draggable'] = true ;
        if('url' in searchResult[i]['n6']){
            node6['category'] = 1 ;
        }
        else{
            node6['category'] = 2 ;
        }
        flag = 1 ;
        relationTarget = id.toString() ;
        for(var j = 0 ; j<data.length ;j++){
        	if(data[j]['name'] === node6['name']){
        		flag = 0 ;
        		relationTarget = data[j]['id'] ;
        		break ;
        	}
        }
        node6['id'] = relationTarget ;
        if(flag === 1){
        	id++ ;
        	data.push(node6) ;
        }

        //获取relation
        relation = {}
        relation['source'] = node1['id'];
        relation['target'] = node2['id'] ;
        relation['category'] = 0 ;
        flag = 1;
        for(var j = 0 ;j<links.length;j++){
        	if(links[j]['source'] == relation['source'] && links[j]['target'] == relation['target']){
        		links[j]['value'] = links[j]['value'] + searchResult[i]['qz1'][0]['type'] ;
        		flag = 0 ;
        		break ;
        	}
        }
        if(flag === 1){
        	relation['value'] = searchResult[i]['qz1'][0]['type'] ;
        	relation['symbolSize'] = 10;
        	links.push(relation) ;
        }

		//获取relation（test）
		relation = {}
        relation['source'] = node2['id'];
        relation['target'] = node3['id'] ;
        relation['category'] = 0 ;
        flag = 1;
        for(var j = 0 ;j<links.length;j++){
        	if(links[j]['source'] == relation['source'] && links[j]['target'] == relation['target']){
        		links[j]['value'] = links[j]['value'] + searchResult[i]['qz2'][0]['type'] ;
        		flag = 0 ;
        		break ;
        	}
        }
        if(flag === 1){
        	relation['value'] = searchResult[i]['qz2'][0]['type'] ;
        	relation['symbolSize'] = 10;
        	links.push(relation) ;
        }

		//获取relation（test）
		relation = {}
        relation['source'] = node3['id'];
        relation['target'] = node4['id'] ;
        relation['category'] = 0 ;
        flag = 1;
        for(var j = 0 ;j<links.length;j++){
        	if(links[j]['source'] == relation['source'] && links[j]['target'] == relation['target']){
        		links[j]['value'] = links[j]['value'] + searchResult[i]['qz3'][0]['type'] ;
        		flag = 0 ;
        		break ;
        	}
        }
        if(flag === 1){
        	relation['value'] = searchResult[i]['qz3'][0]['type'] ;
        	relation['symbolSize'] = 10;
        	links.push(relation) ;
        }

		//获取relation（test）
		relation = {}
        relation['source'] = node4['id'];
        relation['target'] = node5['id'] ;
        relation['category'] = 0 ;
        flag = 1;
        for(var j = 0 ;j<links.length;j++){
        	if(links[j]['source'] == relation['source'] && links[j]['target'] == relation['target']){
        		links[j]['value'] = links[j]['value'] + searchResult[i]['qz4'][0]['type'] ;
        		flag = 0 ;
        		break ;
        	}
        }
        if(flag === 1){
        	relation['value'] = searchResult[i]['qz4'][0]['type'] ;
        	relation['symbolSize'] = 10;
        	links.push(relation) ;
        }

		//获取relation（test）
		relation = {}
        relation['source'] = node5['id'];
        relation['target'] = node6['id'] ;
        relation['category'] = 0 ;
        flag = 1;
        for(var j = 0 ;j<links.length;j++){
        	if(links[j]['source'] == relation['source'] && links[j]['target'] == relation['target']){
        		links[j]['value'] = links[j]['value'] + searchResult[i]['qz5'][0]['type'] ;
        		flag = 0 ;
        		break ;
        	}
        }
        if(flag === 1){
        	relation['value'] = searchResult[i]['qz5'][0]['type'] ;
        	relation['symbolSize'] = 10;
        	links.push(relation) ;
        }

    }


     // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('graph'));

    option = {
	    title: {
	        text: ''
	    },
	    tooltip: {},
	    animationDurationUpdate: 1500,
	    animationEasingUpdate: 'quinticInOut',
	    label: {
	        normal: {
	            show: true,
	            textStyle: {
	                fontSize: 12
	            },
	        }
	    },
	    legend: {
	        x: "center",
	        show: false
	    },
	    series: [

	        {
	            type: 'graph',
	            layout: 'force',
	            symbolSize: 45,
	            focusNodeAdjacency: true,
	            roam: true,
	            edgeSymbol: ['none', 'arrow'],
	            categories: [{
	                name: '查询实体',
	                itemStyle: {
	                    normal: {
	                        color: "#009800",
	                    }
	                }
	            }, {
	                name: 'HudongItem',
	                itemStyle: {
	                    normal: {
	                        color: "#4592FF",
	                    }
	                }
	            }, {
	                name: 'NewNode',
	                itemStyle: {
	                    normal: {
	                        color: "#C71585",
	                    }
	                }
	            }],
	            label: {
	                normal: {
	                    show: true,
	                    textStyle: {
	                        fontSize: 12,
	                    },
	                }
	            },
	            force: {
	                repulsion: 1000
	            },
	            edgeSymbolSize: [4, 50],
	            edgeLabel: {
	                normal: {
	                    show: true,
	                    textStyle: {
	                        fontSize: 10
	                    },
	                    formatter: "{c}"
	                }
	            },
	            data: data,
	            links: links,
	            lineStyle: {
	                normal: {
	                    opacity: 0.9,
	                    width: 1.3,
	                    curveness: 0,
	                    color:"#262626",
	                }
	            }
	        }
	    ]
	};
	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);

</script>
{% endif %}
<script>

	$(".dropdown-menu li a").click(function(){
	   var selText = $(this).text();
	   $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
	   if(selText.trim()!="Other"){
	   	$("#relation_name_input").val(selText.trim()) ;
	   }
	   //combobox behavior
	   if (selText.trim()==="Other") {
	       $("#relation_name").removeClass("hide");
	   }
	   else{
	   	   $("#relation_name").addClass("hide");
	   }

	});


	// $("#btnSearch").click(function(){
	// 	alert($('.btn-select').text()+", "+$('.btn-select2').text());
	// });
</script>
{% endblock %}
